<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Resource Finder</title>
</head>
<body>
   <a href="/">Home</a>
   <a href="/signup">SignUp</a>
   <a href="/login">Login</a>

    <h1>Create Article</h1>
    <form action="">
        <label for="fname">Full name:</label><br>
        <input type="text" id="fname" name="fname" required><br>
        
        <label for="born">Birth Date:</label><br>
        <input type="date" id="born" name="born"><br>

        <label for="died">Date of Death:</label><br>
        <input type="date" id="died" name="died"><br>

        <label for="nationality">Nationality:</label><br>
        <input type="text" id="nationality" name="nationality"><br>

        <label for="knownFor">Known For:</label><br>
        <input type="text" id="knownFor" name="knownFor"><br>

        <label for="notableWork">Notable Work:</label><br>
        <input type="text" id="notableWork" name="notableWork"><br>

        <label for="about">About:</label><br> 
        <input type="text" id="about" name="about" required><br>

        <label for="year">Year:</label><br>
        <input type="number" id="year" name="year"><br>

        <label for="medium">Medium:</label><br>
        <input type="text" id="medium" name="medium"><br>

        <label for="dimensions">Dimensions:</label><br>
        <input type="text" id="dimensions" name="dimensions"><br>

        <label for="location">Location:</label><br>
        <input type="text" id="location" name="location"><br>

        <label for="designedBy">Designed By:</label><br>
        <input type="text" id="designedBy" name="designedBy"><br>

        <label for="developer">Developer:</label><br>
        <input type="text" id="developer" name="developer"><br>
    </form>

    <div class="box">
        <a href="/">
        <button>Create</button>
        </a> 
    </div>
</body>
</html>