<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Resource Finder</title>
</head>

<body>
   <a href="/">Home</a>
   <a href="/signup">SignUp</a>
   <a href="/login">Login</a>
    
    <h1>Welcome to [name]</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo esse debitis officia natus repellat dolor, eos aut sit 
    laudantium fugit ad impedit unde eveniet laboriosam? Eos laboriosam vitae iusto est.</p>

    <div class="searchbar">
        <input type="text" placeholder="Search...">
      </div>

    <ul>
        <h2>Categories</h2>
        <li><input type="checkbox">Mathematics</li>
        <li><input type="checkbox">Art</li>
        <li><input type="checkbox">Technology</li>
    </ul>
    <br>
    
    <div class="container">
        <h1>[Article Title]</h1>
        <h5>[Category Name]</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quasi atque mollitia ex pariatur minus tempora illum 
        reiciendis hic illo deleniti distinctio nobis veniam unde quod quae aspernatur, dolore dolorem.</p>
        
        <div class="box">
            <a href="/oneArticle">
            <button>More Details</button>
            </a> 
        </div>
    </div>
    <br>
    
    <div class="container">
        <h1>[Article Title]</h1>
        <h5>[Category Name]</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quasi atque mollitia ex pariatur minus tempora illum 
        reiciendis hic illo deleniti distinctio nobis veniam unde quod quae aspernatur, dolore dolorem.</p>
       
        <div class="box">
            <a href="/oneArticle">
            <button>More Details</button>
            </a> 
        </div>
    </div>
    <br>
    
    <div class="container">
        <h1>[Article Title]</h1>
        <h5>[Category Name]</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quasi atque mollitia ex pariatur minus tempora illum 
        reiciendis hic illo deleniti distinctio nobis veniam unde quod quae aspernatur, dolore dolorem.</p>
        
        <div class="box">
            <a href="/oneArticle">
            <button>More Details</button>
            </a> 
        </div>
    </div>
    <br>
    
    <div class="container">
        <h1>[Article Title]</h1>
        <h5>[Category Name]</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quasi atque mollitia ex pariatur minus tempora illum 
        reiciendis hic illo deleniti distinctio nobis veniam unde quod quae aspernatur, dolore dolorem.</p>
        
        <div class="box">
            <a href="/oneArticle">
            <button>More Details</button>
            </a> 
        </div>
    </div>
    <br>
    
    <div class="container">
        <h1>[Article Title]</h1>
        <h5>[Category Name]</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quasi atque mollitia ex pariatur minus tempora illum 
        reiciendis hic illo deleniti distinctio nobis veniam unde quod quae aspernatur, dolore dolorem.</p>
        
        <div class="box">
            <a href="/oneArticle">
            <button>More Details</button>
            </a> 
        </div>
    </div>

</body>
</html>