<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Resource Finder</title>
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="/signup">SignUp</a>
        <a href="/login">Login</a>
       
    </header>
    
   <div class="signup">
    <form action="/signup" method="post">
        <h1>Sign Up</h1>
        <!-- Add the "username" field -->
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <select id="role" name="role" required>
            <option value="admin">Admin</option>
            <option value="teacher">Teacher</option>
            <option value="student">Student</option>
        </select><br>
        <button type="submit">Make Account</button>
    </form>
    </div>

    <p>Already Have an Account? <a href="/login">Login Here</a></p>
    
</body>
</html>
