<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Resource Finder</title>
    <link rel="stylesheet" href="Styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Saira+Condensed:wght@400;600&display=swap" rel="stylesheet">

</head>
<body>
    <%- include('partials/navigation.ejs', { user: user }) %>
    <section>
   <div class="signup">
    <form action="/signup" method="post">
        <h1>Sign Up</h1>
        <!-- Add the "username" field -->
        <label for="username">Username:</label><br>
        <input class="input-field" type="text" id="username" name="username" required><br>
        <label for="password">Password:</label><br>
        <input class="input-field" type="password" id="password" name="password"><br>
        <select id="role" name="role" required>
            <option value="admin">Admin</option>
            <option value="teacher">Teacher</option>
            <option value="student">Student</option>
        </select><br>
        <button class="btn form-btn btn-green" type="submit">Make Account</button>
    </form>
    </div>

    <p>Already Have an Account? <a href="/login">Login Here</a></p>
</section>
</body>
</html>
