<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Resource Finder</title>
</head>
<body>
   <a href="/">Home</a>
   <a href="/signup">SignUp</a>
   <a href="/login">Login</a>

   <div class="container">
    <h1>[Update Article]</h1>
    <h5>[Article Name]</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quasi atque mollitia ex pariatur minus tempora illum 
    reiciendis hic illo deleniti distinctio nobis veniam unde quod quae aspernatur, dolore dolorem.</p>
    
    <div class="box">
        <a href="/">
        <button>Update/Create</button>
        </a> 
    </div>
</div>
</body>
</html>